.map {
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background: green;
  }
  
  .row {
    display: flex;
  }
  
  .square {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(250, 8, 8);
    background: blue;
  }

  td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
  }
  
  .hit {
    background-color: red;
  }
  
  .miss {
    background-color: white;
  }
  
  .ship {
    background-color: blue;
  }