
header {
    text-align: center;
  }
  
.subtitle {
    font-size: 22px;
    color: var(--oc-indigo-4);
    background: color-mix(in srgb, #847049 40%, rgb(238, 214, 172));
  }

.logo{
  position:flex;
  border: 2px dashed rgb(6, 6, 6);
  border-radius: 5px;
  margin:20px;
  width:650px;
  height:200px;
}




  